<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}">
</head>
<body>
<div id="container">
<div class="box1">
 <h1>Dashboard</h1>

    <div class="management">
    <ul>Accounts management
        <li>Input</li>
        <li>Output</li>
    </ul>

    <ul>User management
        <li>Users</li>
    </ul>
    </div>
</div>
    
<div class="box2">
    <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://sudoerp.in/storage/uploads/logo//logo-dark.png" alt="Sudo techlabs">
          </a>
        </div>
      </nav>
      <h1>Welcome, {{ user.username|title }} G</h1>

    <div class="account-summary">
        <h2>Account Summary</h2>
        <div class="sec">
        <p>Total Income: ₹{{ total_income }}</p>
        <p>Total Expenses: ₹{{ total_expenses }}</p>
        <p>Current Balance: ₹{{ balance }}</p>
        </div>
    </div>

    <div class="transactions">
        <div class="t1">
        <h2>Transactions</h2></div>
        <table>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.transaction_type }}</td>
                    <td>₹{{ transaction.amount }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No transactions yet.</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="dashboard-links">
        <a href="{% url 'add_transaction' %}">Add Transaction</a>
        {% if user.is_superuser %}
            <a href="{% url 'manage_permissions' %}">Manage Permissions</a>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
</div>
</body>
</html>
